<% @questions.each do |question| %>
 <%= form_with(url: site_answer_path, local: true) do |form| %>    
    <div class="card border-primary m-3">
    <div class="card-header">
      <%= "#{question.id} - #{question.description}" %>
    </div>
    <div class="card-body text-success">      
      <p class="card-text"> 
        Selecione a resposta correta:       
      </p>      
    </div>
    <ul class="list-group list-group-flush">
      <% question.answers.each do |answer| %>
      <li class="list-group-item ml-3">
        <div class="form-check">
          <%= radio_button_tag 'answer', answer.id, false, {class: "form-check-input",id: "answer_#{answer.id}"} %>
          <%= label_tag 'answer',answer.description, {class: "form-check-label", for: "answer_#{answer.id}"} %>          
        </div>         
      </li>           
      <% end %>
      <li class="list-group-item ml-3">
        <%= form.submit 'Responder', class: "btn btn-primary" %>
      </li> 
    </ul>
  </div>
  <% end %>
<% end %>