<% @questions.each do |question| %>
 <%= form_with(url: site_answer_path) do |form| %>    
    <div class="card border-primary m-3" id="question_<%= question.id%>">
    <div class="card-header bg-primary text-white">
      <h5>
        <span class="badge badge-danger">
          <%= link_to question.subject.description, site_search_subject_path(question.subject.id), class: 'text-white' %>
        </span> - 
        <%= question.description %>
      </h5>      
    </div>
    <div class="card-body text-success">      
      <p class="card-text"> 
        Selecione a resposta correta:    
      </p>      
    </div>
    <ul class="list-group list-group-flush">
      <% question.answers.each do |answer| %>
      <li class="list-group-item ml-3">
        <div class="form-check">
          <%= radio_button_tag 'answer_id', answer.id, false, {class: "form-check-input",id: "answer_#{answer.id}"} %>
          <%= label_tag 'answer',answer.description, {class: "form-check-label", for: "answer_#{answer.id}"} %>          
        </div>         
      </li>           
      <% end %>
      <li class="list-group-item ml-3">
        <%= form.submit 'Responder', class: "btn btn-primary" %>
      </li> 
    </ul>
  </div>
  <% end %>
<% end %>