<!-- Page Heading -->

<div class="row">
  <div class="col-lg-12">
    <h1 class="h3 mb-4 text-gray-800">AdminsBackoffice</h1>    
  </div>  
</div>

<% if notice %>
  <div class="row">
  <div class="col-lg-12">
    <div class="card border-success mb-3">      
      <div class="card-body text-success">        
        <p class="card-text">
          <%= notice %>
        </p>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Listando administradores</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Email</th>                      
                      <th style="text-align: center;">
                        <%= link_to new_admins_backoffice_admin_path, class: 'btn btn-success btn-circle' do %>
                            <i class="fas fa-plus"></i>
                        <% end %>
                      </th>                      
                    </tr>
                  </thead>                  
                  <tbody>                                        
                    <% @admins.each do |admin| %>
                      <tr>
                        <td><%= admin.id %></td>
                        <td><%= admin.email %></td>
                        <td style="text-align:center; width: 150px;">                          
                          <%= link_to edit_admins_backoffice_admin_path(admin), class: 'btn btn-info btn-circle' do %>
                            <i class="fas fa-edit"></i>
                          <% end %>
                          <%= link_to '#', class: 'btn btn-danger btn-circle' do %>
                            <i class="fas fa-trash"></i>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>                                        
                  </tbody>
                </table>
              </div>
            </div>
          </div>
