<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'users_backoffice' %>

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <%= link_to  users_backoffice_welcome_index_path, class:"site_title" do %>
                <i class="fa fa-paw"></i> <span>User backoffice</span>
              <% end %>              
            </div>

            <div class="clearfix"></div>

            <!-- Menu profile -->
            <%= render 'layouts/shareds/users/menu' %>    

            <br />

            <!-- Sidebar menu -->
            <%= render 'layouts/shareds/users/sidebar' %>    
           
          </div>
        </div>

        <!-- Top navbar -->
        <%= render 'layouts/shareds/users/top_navbar' %>

        <!-- page content -->
        <div class="right_col" role="main">          
          <%= yield %>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <%= render 'layouts/shareds/users/footer' %>

      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
         <%= form_with(model:  current_user, url: users_backoffice_path(current_user), class: "form-horizontal form-label-left") do |form|%>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Avatar</h4>
          </div>
          <div class="modal-body">
            <%= form.fields_for :user_profile do |f| %>
                <div class="form-group">                  
                  <%= image_tag(avatar_url, alt:"...", class:"img-circle profile_img", id: "imgAvatarLg") %>
                  <%= f.file_field :avatar %>                    
                </div>             
            <% end %>              
          </div>
          <div class="modal-footer">                        
            <%= form.submit nil, class:'btn btn-primary' %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    <!-- /Modal -->
  
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'users_backoffice' %>

    <%= javascript_tag do %>                   
          <% if notice %>
            Toastify({
              text: "<%= notice%> ",
              duration: 3000,
              destination: "https://github.com/apvarun/toastify-js",
              newWindow: true,
              close: true,
              gravity: "top", // `top` or `bottom`
              position: 'right', // `left`, `center` or `right`
              backgroundColor: "linear-gradient(to right, #5bf859,#0fb4a1)",
              stopOnFocus: true // Prevents dismissing of toast on hover
            }).showToast();                    
          <% end %>
    <% end %>
    <%= javascript_tag do %>
       $( function(){
            $(".datepicker").datepicker();
          });
    <% end %>
  </body>
</html>